@using HireMeApp.Models.Services
@inject LookupService MyService
@model HireMeApp.Models.TextBlock
<div class="w3-center w3-container">
    <h4>@(ViewBag.InfoName)</h4>
    <hr />
    <form asp-action="EditP">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group w3-hide">
            <label asp-for="InfoId" class="control-label"></label>
            <select asp-for="InfoId" class="form-control" asp-items="ViewBag.InfoId"></select>
            <span asp-validation-for="InfoId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Textblock1" class="control-label w3-hide"></label>
            <textarea id="TextArea1" rows="5" cols="30" contenteditable="true" required="required" asp-for="Textblock1" aria-value=@Model.Textblock1 class="form-control"></textarea>
            <span asp-validation-for="Textblock1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="w3-button w3-theme"/>
            </div>
    </form>
</div>
@section Scripts {@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}
