@model HireMeApp.Models.TextBlock

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TextBlock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InfoId" class="control-label"></label>
                <select asp-for="InfoId" class ="form-control" asp-items="ViewBag.InfoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Text_block" class="control-label"></label>
                <input asp-for="Text_block" class="form-control" />
                <span asp-validation-for="Text_block" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
